:root {
  --veryDarkCyan: hsl(183, 100%, 15%);
  --lightCyan: hsl(175, 90%, 21%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --darkGrayishCyanFont: hsl(184, 14%, 56%);
  --lightGrayishCyanInput: hsl(185, 41%, 84%);
  --lightGrayishCyanReset: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 62.5%;
  background-color: var(--lightGrayishCyanInput);
}

.main__logo {
  text-align: center;
  margin-bottom: 3rem;
}

.calculator {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 50vw;
  height: 50vh;
  background-color: var(--white);
}
.calculator__people-count, .calculator__bill-amount {
  padding: 0.5rem;
  background-color: var(--lightGrayishCyanReset);
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1.1rem;
  color: var(--veryDarkCyan);
  font-family: "Space Mono", sans-serif;
}
.calculator__person-icon, .calculator__dollar-icon {
  position: relative;
}
.calculator__people-count:focus, .calculator__bill-amount:focus {
  outline: none;
}
.calculator__tip-heading, .calculator__bill, .calculator__people-heading {
  font-size: 1.1rem;
  color: var(--darkGrayishCyanFont);
  font-family: "Space Mono", sans-serif;
}
.calculator__input-wrapper {
  position: relative;
}
.calculator__input-wrapper input {
  text-align: right;
  width: 75%;
}
.calculator__people-input-wrapper input {
  width: 75%;
  text-align: right;
}
.calculator__left-container {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.calculator__right-container {
  background-color: var(--veryDarkCyan);
  flex: 0.5;
  color: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Space Mono", sans-serif;
}
.calculator__tip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 90%;
}
.calculator__output-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.calculator__person-output, .calculator__tip-output {
  font-size: 2rem;
  color: var(--lightCyan);
  font-weight: 700;
}
.calculator__inner-wrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  font-size: 1.1rem;
}
.calculator__button-container {
  width: 100%;
  display: flex;
}
.calculator__reset {
  width: 70%;
  margin: auto;
  position: relative;
  justify-self: flex-end;
  background-color: var(--lightCyan);
  border: none;
  font-size: 1.1rem;
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.calculator__reset:hover {
  cursor: pointer;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.08);
}
.calculator__amount {
  background-color: var(--veryDarkCyan);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: grid;
  place-content: center;
  color: var(--white);
  font-family: "Space Mono", sans-serif;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem 0.1rem;
}
.calculator__amount:hover {
  cursor: pointer;
}
.calculator__amount.custom {
  background-color: var(--lightGrayishCyanInput);
  border: none;
  box-sizing: border-box;
  width: 105%;
}
.calculator__amount.custom:focus {
  outline: none;
}

@media screen and (max-width: 375px) {
  .calculator {
    flex-direction: column;
    width: 75vw;
    height: 65vh;
  }
  .calculator__left-container {
    flex: auto;
  }
  .calculator__right-container {
    flex: auto;
  }
  .calculator__inner-wrapper {
    font-size: 0.75rem;
  }
  .calculator__tip-heading, .calculator__bill, .calculator__people-heading {
    font-size: 0.75rem;
  }
  .calculator__amount {
    width: auto;
  }
  .calculator__person-output, .calculator__tip-output {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */